section(class='box box-veja')
    
    div(class='container')

        div(class='screens')
            img(class='logo' src='assets/img/logo-veja.png' alt="Veja")    
            img(class='ico-scr-veja img-fluid' src='assets/img/scr-veja.png' alt="Veja")
            img(class='ico-mini-scr-1' src='assets/img/scr-veja-small-1.png')
            img(class='ico-mini-scr-2' src='assets/img/scr-veja-small-2.png')
            img(class='ico-oculos' src='assets/img/ico-glasses-veja.png')
            img(class='ico-bussola' src='assets/img/ico-bussola-veja.png')

        p(class='content') Integer et efficitur enim. Aenean dapibus metus eu orci commodo, feugiat dignissim ligula scelerisque. Ut nec purus ac odio tristique consectetur. Cras faucibus dui tempus leo tempor ultrices. Vestibulum sit amet urna luctus, imperdiet sapien et, luctus nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pharetra, orci in suscipit placerat, lectus ligula maximus purus, ut commodo dui risus id turpis. Etiam dignissim, arcu mattis faucibus efficitur, neque nisi lacinia purus, gravida efficitur erat magna id eros.
