section(class='box box-contato')
    div(class='container')
        h2(class='subtitle') Como podemos te ajudar?
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu ex euismod, porttitor tellus mollis, mattis orci.
        
        form(class='form')
            div(class='form-row')
                input(class='form-control' type='text' placeholder='seu nome')
                input(class='form-control' type='email' placeholder='seu email')
            textarea(name='mensagem' rows='8')
            div(class='form-row')
                small(class='counter') 100
                button(class='button button-submit' type='submit') Enviar