section(class='box box-telecine')
    div(class='container')
        h2(class='subtitle') Cases de Sucesso
            img(class='ico-nuvem' src='assets/img/ico-nuvens.png')

        div(class='screens')
            img(class='logo' src='assets/img/logo-telecine.png' alt='Telecine')
            img(class='img-fluid' src='assets/img/scr-telecine.png' alt='Telecine')
            
            img(class='ico-robo' src='assets/img/ico-robo-vermelho.png')
            img(class='ico-hero' src='assets/img/ico-telecine-hero.png')
            img(class='ico-olaf' src='assets/img/ico-olaf.png')
        
            div(class='screens-flex')
                img(src='assets/img/scr-telecine-small.png')
                img(class='ico-bighero' src='assets/img/ico-bigherocrew.png')
            
                p(class='texto-telecine') Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt dolor sit amet, consectetuer. Lorepsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt dolor sit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt dolor sit amet, consectetuer. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt dolor sit.