section(class='box box-hsbc')
    div(class='container')

        div(class='screens')
            img(class='logo' src='assets/img/logo-hsbc.png' alt="HSBC")
            img(class='img-fluid' src='assets/img/scr-hsbc.jpg' alt="HSBC")
            img(class='ico-maquina' src='assets/img/ico-maquina-hsbc.png')
            

        p(class='content') Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue turpis mi, id porttitor urna consequat et. Ut fermentum tempor commodo. Aliquam consectetur erat vitae nibh eleifend, quis euismod tellus tincidunt. Phasellus justo purus, egestas id ligula a, rutrum dapibus nibh. Morbi vel dolor quis orci rutrum imperdiet eu non nisi. In feugiat sem non augue sodales blandit. Sed aliquet nec metus quis porta.