section(class='box box-fgv')
    div(class='container')

        div(class='screens')
            img(class='logo' src='assets/img/logo-fgv.png' alt="FGV")
            img(class='img-fluid' src='assets/img/scr-fgv.jpg' alt="FGV")
            img(class='ico-iphone' src='assets/img/ico-iphone-fgv.png')

        p(class='content') Praesent eget porttitor nunc. Donec scelerisque efficitur orci ac volutpat. Curabitur nec urna risus. Aenean vitae augue risus. Nullam ornare suscipit nibh eu elementum. In sed urna vel urna aliquam facilisis. Ut semper scelerisque est nec pretium. Nullam molestie turpis eu dui dapibus consectetur. Nam ullamcorper lobortis justo, congue malesuada ipsum sodales eu. Proin tempus suscipit est a lobortis. Cras dignissim, massa at elementum aliquam, urna diam vulputate arcu, id semper ante mi ac eros. Fusce a feugiat velit.
