section(class='box box-hsbc')
    div(class='container')

        div(class='screens')
            img(class='logo' src='assets/img/logo-hsbc.png' alt="HSBC")
            img(class='img-fluid' src='assets/img/ico-maquina-hsbc.png' alt="")

        img(class='img-fluid' src='assets/img/scr-hsbc.jpg' alt="HSBC")

        p(class='content') Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu ex euismod, porttitor tellus mollis, mattis orci. Integer luctus faucibus pellentesque. Sed varius velit quis ornare molestie. Nam finibus turpis ut ex fermentum finibus.