section(class='box box-contato')
    div(class='container')
        h2(class='subtitle') Como podemos te ajudar?
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu ex euismod, porttitor tellus mollis, mattis orci.
        p [ formulario ]