section(class='box box-rededor')
    div(class='container')

        p(class='texto-telecine') Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt dolor sit amet, consectetuer. Lorepsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt dolor sit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt dolor sit amet, consectetuer. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt dolor sit.
        
        div(class='screens')
            img(class='logo' src='assets/img/logo-rededor.png' alt="Rede D'or")
            img(class='img-fluid' src='assets/img/scr-rededor.png' alt="Rede D'or")
            img(class='ico-ipad' src='assets/img/ico-ipad-rededor.png')

            p(class='content') Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at imperdiet turpis. Ut risus lorem, ullamcorper ut ante consequat, tincidunt congue nibh. In hac habitasse platea dictumst. Vestibulum sit amet lorem molestie, sagittis tellus quis, molestie erat. Vivamus auctor pellentesque lacus sed faucibus. Praesent eros purus, tincidunt id consectetur id, pellentesque quis erat. Fusce ac leo lectus. Cras fermentum lorem metus, quis volutpat velit malesuada et.