footer(id='contato' class='copyright')
    div(class='container wrapper')
        img(src='assets/img/logo-people_branco.png' alt=title)
        ul(class='address')
            li © People Interactive ∙ Avenida Julio de Sá Bierrenbach, N. 65 ∙ Bloco 3 ∙ Sala 105 ∙ Barra da Tijuca
            li Rio de Janeiro/RJ ∙ +55 (21) 3649-8321 ∙ contato@peopleinteractive.com.br  