footer
    div(class='copyright')
        a(href=url)
            img(src='assets/img/logo-people_branco.png' alt=title)
        p Avenida Julio de Sá Bierrenbach, N. 65 ∙ Bloco 3 ∙ Sala 105 ∙ Barra da Tijuca ∙ Rio de Janeiro/RJ