header(class='header')
    div(class='container')
        div(class='disclaimer')
            h1=description
            p E assim transformamos negócios e colocamos nossos clientes em posição da liderança
            a(class='button button-default') entre em contato
        img(class='ico-menino img-fluid' src='assets/img/ico-menino.png')