extends ./layouts/default.pug

block wrapper
    section(class='container')
        div(class='content-wrapper')
            h3(class='subtitle') Surpreenda-se
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu ex euismod, porttitor tellus mollis, mattis orci. Integer luctus faucibus pellentesque. Sed varius velit quis ornare molestie. Nam finibus turpis ut ex fermentum finibus.
        
        img(class='img-fluid' src='assets/img/map-clientes.png')

    section(class='box box-telecine')
        div(class='container')
            h2(class='subtitle') Cases de Sucesso
            img(src='assets/img/ico-nuvens.png')

            div(class='content')
                img(class='logo' src='assets/img/logo-telecine.png')

            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu ex euismod, porttitor tellus mollis, mattis orci. Integer luctus faucibus pellentesque. Sed varius velit quis ornare molestie. Nam finibus turpis ut ex fermentum finibus.

    section(class='box box-rededor')
        div(class='container')

            div(class='content')
                img(class='logo' src='assets/img/logo-rededor.png')

            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu ex euismod, porttitor tellus mollis, mattis orci. Integer luctus faucibus pellentesque. Sed varius velit quis ornare molestie. Nam finibus turpis ut ex fermentum finibus.

    section(class='box box-santander')
        div(class='container')

            div(class='content')
                img(class='logo' src='assets/img/logo-santander.png')

            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu ex euismod, porttitor tellus mollis, mattis orci. Integer luctus faucibus pellentesque. Sed varius velit quis ornare molestie. Nam finibus turpis ut ex fermentum finibus.

    section(class='box box-cocacola')
        div(class='container')

            div(class='content')
                img(class='logo' src='assets/img/logo-cocacola.png')

            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu ex euismod, porttitor tellus mollis, mattis orci. Integer luctus faucibus pellentesque. Sed varius velit quis ornare molestie. Nam finibus turpis ut ex fermentum finibus.

    section(class='box box-vivara')
        div(class='container')

            div(class='content')
                img(class='logo' src='assets/img/logo-vivara.png')

            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu ex euismod, porttitor tellus mollis, mattis orci. Integer luctus faucibus pellentesque. Sed varius velit quis ornare molestie. Nam finibus turpis ut ex fermentum finibus.

    section(class='box box-fgv')
        div(class='container')

            div(class='content')
                img(class='logo' src='assets/img/logo-fgv.png')

            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu ex euismod, porttitor tellus mollis, mattis orci. Integer luctus faucibus pellentesque. Sed varius velit quis ornare molestie. Nam finibus turpis ut ex fermentum finibus.

    section(class='box box-hsbc')
        div(class='container')

            div(class='content')
                img(class='logo' src='assets/img/logo-hsbc.png')

            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu ex euismod, porttitor tellus mollis, mattis orci. Integer luctus faucibus pellentesque. Sed varius velit quis ornare molestie. Nam finibus turpis ut ex fermentum finibus.

    section(class='box box-veja')
        div(class='container')

            div(class='content')
                img(class='logo' src='assets/img/logo-veja.png')

            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu ex euismod, porttitor tellus mollis, mattis orci. Integer luctus faucibus pellentesque. Sed varius velit quis ornare molestie. Nam finibus turpis ut ex fermentum finibus.

    section(class='box box-contato')
        div(class='container')
            h2(class='subtitle') Como podemos te ajudar?
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu ex euismod, porttitor tellus mollis, mattis orci.
            p [ formulario ]