extends ./layouts/default.pug

block wrapper
    section(class='container')
        div(class='content-wrapper')
            h3(class='subtitle') Surpreenda-se
            p(class='content') Novos conceitos de Internet Banking, novas experiências no consumo de moda, portais de conteúdo com relacionamentos verticais e horizontais, sites institucionais, que fortalecem efetivamente a marca, e enriquecimento do posicionamento de start-ups no mercado. Tem gente grande que confia na gente! ;)
        
        img(class='map-clientes img-fluid' src='assets/img/map-clientes.png')

    include ./partials/box-telecine.pug
    include ./partials/box-rededor.pug
    include ./partials/box-santander.pug
    include ./partials/box-cocacola.pug
    include ./partials/box-vivara.pug
    include ./partials/box-fgv.pug
    include ./partials/box-hsbc.pug
    include ./partials/box-veja.pug
    include ./partials/box-contato.pug