- var title = "People Interactive"
- var description = "Lorem ipsum dolor sit amet."

doctype html
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description" content=description)
        meta(name="robots" content="index,follow")

        //- Styles
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto")
        link(rel="stylesheet" href="assets/styles/style.css")

        title=title
    body
        header header
        section section
        footer footer

        script(type="text/javascript" src="assets/scripts/script.js" async)

