extends ./layouts/default.pug

block wrapper
    section(class='container')
        div(class='content-wrapper')
            h3(class='subtitle') Surpreenda-se
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu ex euismod, porttitor tellus mollis, mattis orci. Integer luctus faucibus pellentesque. Sed varius velit quis ornare molestie. Nam finibus turpis ut ex fermentum finibus.
        
        img(class='img-fluid' src='assets/img/map-clientes.png')

    include ./partials/box-telecine.pug
    include ./partials/box-rededor.pug
    include ./partials/box-santander.pug
    include ./partials/box-cocacola.pug
    include ./partials/box-vivara.pug
    include ./partials/box-fgv.pug
    include ./partials/box-hsbc.pug
    include ./partials/box-veja.pug
    include ./partials/box-contato.pug