@import 'lib/stylus-mixins'


.img-fluid 
    max-width 100%
    height auto

.header
    background #fff url('../img/bg-default.jpg') no-repeat
    background-size cover
    min-height rem(780)
    position relative

.container
    clearfix()
    width 90%
    margin auto
    position relative

    .disclaimer
        width 40%
        color #fff
        position absolute

    .ico-menino
        position absolute

