@import 'lib/stylus-mixins'

.img-fluid 
    max-width 100%
    height auto

.header
    background #fff url('../img/bg-default.jpg') no-repeat
    background-size cover
    min-height rem(780)
    position relative

.container
    clearfix()
    margin auto
    position relative
    max-width rem(1170)

    .disclaimer
        width 45%
        z-index 200
        position absolute

    .ico-menino
        right 0
        z-index 100
        position absolute

    .logo 
        right 0
        z-index 50
        position absolute


.copyright
    background-color #60645A


/* sessoes */
.box-telecine
    background url('../img/bg-telecine.jpg') no-repeat
    min-height rem(1798)

.box-rededor
    background url('../img/bg-rededor.jpg') no-repeat
    min-height rem(1660)

.box-santander
    background url('../img/bg-santander.jpg') no-repeat
    min-height rem(1744)

.box-cocacola
    background url('../img/bg-cocacola.jpg') no-repeat
    min-height rem(1034)

.box-vivara
    background url('../img/bg-vivara.jpg') no-repeat
    min-height rem(1750)

.box-fgv
    background url('../img/bg-fgv.jpg') no-repeat
    min-height rem(1720)

.box-hsbc
    background url('../img/bg-hsbc.jpg') no-repeat
    min-height rem(1127)

.box-veja
    background url('../img/bg-veja.jpg') no-repeat
    min-height rem(1252)

.box-contato
    background url('../img/bg-contato.jpg') no-repeat
    min-height rem(740)

.box
    background-size cover
    position relative


/* buttons */
.button 
    display inline-block
    border 1px dashed red

    &-default 
        color #fff
        background-color red

    &-float
        right 0
        position absolute

    &-inicio
        display none