@import 'lib/stylus-mixins'


.img-fluid 
    max-width 100%
    height auto

.header
    background #fff url('../img/bg-default.jpg') no-repeat
    background-size cover
    min-height rem(780)
    position relative

.container
    clearfix()
    margin auto
    position relative
    max-width rem(1170)

    .disclaimer
        width 45%
        z-index 200
        position absolute

    .ico-menino
        right 0
        z-index 100
        position absolute

