include ./../partials/variables.pug

doctype html
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description" content=description)
        meta(name="robots" content="index,follow")

        //- Styles
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans")
        link(rel="stylesheet" href="assets/styles/normalize.css")
        link(rel="stylesheet" href="assets/styles/main.css")

        title=title + " - " + description 
    body
        

        include ./../partials/header.pug

        main
            block wrapper

        include ./../partials/footer.pug

        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js' async)
        script(src='assets/script/jquery.stellar.min.js' async)
        script(src='assets/script/jquery.form.js' async)
        script(src='assets/script/common.js' async)
        script(src='assets/script/main.js' async)

